.canv {
    //position: absolute;
    width: 100%;
    height: 100%;
}

canvas {
    -webkit-transform3d: translate(0, 0, 0);
    -moz-transform3d: translate(0, 0, 0);
    transform3d: translate(0, 0, 0);
}

h1 {
    position: absolute;
    top: -5px;
    font-size: 20px;
}

h5 {
    position: absolute;
    top: 0px;
    font-size: 8px;
    left: 92%;
}

body {
    font-family: Cambo;
}

.inpt {
    position: absolute;
    left: 0%;
    top: 97%;
}
.btn {
    position: absolute;
    left: 13%;
    top: 97%;
    width: 60px;
    height: 20px;
}
.btn2 {
    position: absolute;
    left: 19%;
    top: 97%;
    width: 70px;
    height: 20px;
}

.chck {
    position: absolute;
    left: 27%;
    top: 97%;
}

p {
    position: absolute;
    left: 30%;
    top: 95%;
}

.bar {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 40px;
    background-color: #f8f9fa;
}
