.canv {
    //position: absolute;
    width: 100%;
    height: 100%;
}

canvas {
    -webkit-transform3d: translate(0, 0, 0);
    -moz-transform3d: translate(0, 0, 0);
    transform3d: translate(0, 0, 0);
}

.title {
    position: absolute;
    top: -5px;
    font-size: 20px;
}

h5 {
    position: absolute;
    top: 0px;
    font-size: 8px;
    left: 92%;
}

body {
    font-family: Cambo;
}

.inpt {
    position: absolute;
    left: 0%;
    top: 97%;
}
.btn {
    position: absolute;
    left: 13%;
    top: 97%;
    width: 60px;
    height: 20px;
}
.btn2 {
    position: absolute;
    left: 19%;
    top: 97%;
    width: 70px;
    height: 20px;
}

.chck::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: black;
}

.chck {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    left: 27%;
    top: 97%;
    background: linear-gradient(
        to right,
        #0000ff 14.28%,
        #00bfff 14.28%,
        #00bfff 28.58%,
        #87cefa 28.58%,
        #87cefa 42.86%,
        #808080 42.86%,
        #808080 57.14%,
        #fffa91 57.14%,
        #fffa91 71.42%,
        #ffaa00 71.42%,
        #ffaa00 85.72%,
        #ff0000 85.72%,
        #ff0000 100%
    );
    border-radius: 10px;
}

.slow {
    position: absolute;
    left: calc(27% + 150px);
    top: 95%;
}

.perf1 {
    position: absolute;
    left: 84%;
    top: 95%;
}

.setb {
    position: absolute;
    width: 50px;
    left: 96%;
    top: 94%;
    transition: all, 0.5s;
}

.imgclicked {
    transition: rotate, 0.5s;
    transform: rotate(90deg);
}

.sett {
    position: absolute;
    width: 50%;
    height: 52%;
    top: 24%;
    left: 25%;
    min-height: 390px;
    min-width: 480px;
    opacity: 0;
    background-color: rgb(190, 190, 190);
    transition:
        all,
        0.4s ease-in-out;
    border-radius: 30px;
    box-shadow: 0px 20px 10px black;
    backdrop-filter: blur(10px);
}

.listcontainer {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding-left: 15px;
}

li {
    margin: 10px;
}

.list2 {
    padding-right: 26%;
}

.settext {
    position: relative;
    left: 20px;
    margin-bottom: 0;
}

.warn {
    position: relative;
    bottom: 20px;
    left: 20px;
}

.bar {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 40px;
    background-color: #f8f9fa;
}
