.canv {
    //position: absolute;
    width: 100%;
    height: 100%;
}

canvas {
    -webkit-transform3d: translate(0, 0, 0);
    -moz-transform3d: translate(0, 0, 0);
    transform3d: translate(0, 0, 0);
}

.title {
    position: absolute;
    top: -5px;
    font-size: 20px;
}

h5 {
    position: absolute;
    top: 0px;
    font-size: 8px;
    left: 92%;
}

body {
    font-family: Cambo;
}

.inpt {
    position: absolute;
    left: 0%;
    top: 97%;
}
.btn {
    position: absolute;
    left: 13%;
    top: 97%;
    width: 60px;
    height: 20px;
}
.btn2 {
    position: absolute;
    left: 19%;
    top: 97%;
    width: 70px;
    height: 20px;
}

.chck {
    position: absolute;
    left: 27%;
    top: 97%;
}

.slow {
    position: absolute;
    left: 30%;
    top: 95%;
}
.perf1 {
    position: absolute;
    left: 84%;
    top: 95%;
}

.setb {
    position: absolute;
    width: 50px;
    left: 96%;
    top: 94%;
    transition: all, 0.5s;
}

.imgclicked {
    transition: rotate, 0.5s;
    transform: rotate(90deg);
}

.sett {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    opacity: 0;
    background-color: slategrey;
    transition: all, 0.4s;
    border-radius: 30px;
    box-shadow: 0px 20px 10px black;
    backdrop-filter: blur(10px);
}

.listcontainer {
    display: flex;
    gap: 5px;
    align-content: 5px;
}

ul {
    list-style-type: none;
    padding-left: 15px;
}

li {
    margin: 10px;
}

.settext {
    position: relative;
    left: 20px;
}

.warn {
    position: relative;
    bottom: -10px;
    left: 20px;
}

.bar {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 40px;
    background-color: #f8f9fa;
}
